<div class="collection-data content-section">
  <h2>Collection Data</h2>

  <p><%= collection_overview_text(@collection_data[:collection_count]) %> containing a total of <%= pluralize(@collection_data[:images_in_collections], 'image') %>.</p>

  <h3>Collections</h3>

  <table>
    <thead>
      <tr>
        <th>Collection</th>
        <th>Image Count</th>
        <th>Sub-Collection Count</th>
        <th>Sub-Collections</th>
      </tr>
    </thead>

    <tbody>
      <% @collection_data[:collection_data].each do |collection| %>
        <%= render partial: 'collection_data_row', locals: { collection: collection } %>
      <% end %>
    </tbody>
  </table>
</div>
