<div class="menu">
  <ul>
    <li class="most-popular-link"><a href="#">Most Popular</a></li>
    <li class="wildlife-data-link"><a href="#">Wildlife Data</a></li>
    <li class="landscape-data-link"><a href="#">Landscape Data</a></li>
    <li class="macro-data-link"><a href="#">Macro Data</a></li>
    <li class="keywords-link"><a href="#">Keywords</a></li>
    <li class="ratings-link"><a href="#">Ratings</a></li>
    <li class="develop-settings-link"><a href="#">Develop Settings</a></li>
    <li class="data-by-camera-forms-link"><a href="#">By Camera or Lens</a></li>
  </ul>
</div>