<dt>Ratings:</dt>
<dd>
  <table>
    <tr>
      <th>Rating</th>
      <th>Number of images</th>
    </tr>

    <% data.each do |_rating_key, rating_data| %>
      <%= render partial: 'rating_row', locals: { data: rating_data } %>
    <% end %>
  </table>
</dd>