<h3><%= heading %></h3>

<%= render partial: 'develop_setting_table', locals: { frequency_data: data[:most_frequent] } %>

<%= render partial: 'average_adjustments', locals: { positive: data[:positive], negative: data[:negative] } %>
